<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Crosswalk</title>
    <h1> Foobar </h1>
    <link>https://crosswalk-project.org/blog</link>
    <description>An advanced, predictable web runtime for ambitious HTML5 applications. Replace Android’s default WebView with Crosswalk and develop powerful Android and Cordova apps.</description>

    <% for(slug in public.blog._data) { %>
      <% var post = public.blog._data[slug] %>
      <% if (post.title) { %>
        <% var link = ("url" in post ? post.url : url + "/blog/" + slug + ".html") %>
        <item>
          <title><%- post.title %></title>
          <description><%- post.desc %></description>
          <pubDate><%- post.date %></pubDate>
          <link><%- link %></link>
          <guid isPermaLink="true"><%- link %></guid>
        </item>
      <% } %>    
    <% } %>
  </channel>
</rss>

