<nav id="contents" class="article-toc nav-toggleContainer">
  <a href="#contents" id="contents-toggle" class="button button--small button--tertiary nav-toggle">Table of Contents</a>
  <a href="./#contents-toggle" class="button button--small button--tertiary nav-toggle--dummy">Table of Contents</a>
  <ul class="article-list nav-toggleHide">
    <% /* For each article in documentation/_data.json */ 
       for(var item1 in public.documentation._data) { 
         var article1 = public.documentation._data[item1];
         /* if item1 in _data.json matches a file, add .nav-item--active class */
         var isFile = (current.path.length === 2 && current.path[0] === item1.toLowerCase()) || 
                       current.source === 'index' && current.path[current.path.length - 2] === item1.toLowerCase() %>
       <li class="article-item <%= isFile ? ' nav-item--active' : '' %>">
         <a class="article-link" href="/documentation/<%= item1.toLowerCase() %>.html"><%= article1.title %></a>

         <% /* check if sub articles */
           if (current.path[current.path.length - 2] === item1.toLowerCase() && 
               typeof public.documentation[item1] !== 'undefined' && 
               typeof public.documentation[item1]._data !== 'undefined') { %>


         <ul class="article-list">
            <% for(var item2 in public.documentation[item1]._data) {
                var article2 = public.documentation[item1]._data[item2]; 

                /* if item2 in _data.json matches a file, add .nav-item--active class */
               var isFile = (current.path.length === 3 && current.path[0] === item2.toLowerCase()) || 
                       current.source === 'index' && current.path[current.path.length - 3] === item2.toLowerCase()
                var pageRef = "/documentation/" + current.path[current.path.length - 2] + "/" + item2 + ".html"; %>
           <li class="article-item <%= isFile ? ' nav-item--active' : '' %>">
             <a class="article-link" href="<%= pageRef %>"><%= article2.title %></a>
               <% if (current.path[current.path.length - 3] === item2.toLowerCase() && 
                      typeof public.documentation[item1][item2] !== 'undefined' && 
                      typeof public.documentation[item1][item2]._data !== 'undefined') { %>
             <ul class="article-list">
               <% for(var item3 in public.documentation[item1][item2]._data) {
                    var article3 = public.documentation[item1][item2]._data[item3]; 
                    var isFile2 = (current.path.length === 4 && current.path[0] === item3.toLowerCase()) || 
                        current.source === 'index' && current.path[current.path.length - 4] === item3.toLowerCase()
                    var pageRef2 = "/documentation/" + current.path[current.path.length - 2] + "/" + 
                              current.path[current.path.length - 3] + "/" + item3 + ".html"; %>
               <li class="article-item <%= isFile2 ? ' nav-item--active' : '' %>">
                 <a class="article-link" href="<%= pageRef2 %>"><%= article3.title %></a>
               </li>

               <% } %>
             </ul>
             <% } %>
           </li>
           <% } %>
         </ul>
         <% } %>
       </li>
    <% } %>
  </ul>

</nav>


