<!-- // <% var subpages = public[current.path[current.path.length - 1]][current.path.length - 2] %>
//
// <% if(typeof subpages === 'object') { %>
//   <% var next = false %>
//   <% for(var slug in subpages._data) { %>
//     <% var item = subpages._data[slug] %>
//     <% if(slug === current.source) { %>
//       <% for(var catMain in public[current.path[current.path.length - 1]]._data) { %>
//         <% var catIndex = public[current.path[current.path.length - 1]]._data[catMain] %>
//         <% if(next === true) { %>
//           <h3>What’s next</h3>
//           <a href="/<%= current.path[current.path.length - 1] %>/<%= catMain %>"><%= catIndex.title %></a>
//           <% break %>
//         <% } %>
//         <% if((current.path).indexOf(catMain.toLowerCase()) !== -1) { %>
//           <% var next = true %>
//         <% } %>
//       <% } %>
//       <% var next = true; %>
//     <% } else if(next === false) { %>
//       <a href="<%= slug %>" class="article-promo well">
//         <h4 class="article-promoTitle">What’s next</h4>
//         <p><%= item.title %> <span class="a-faux">Read more…</span></p>
//       </a>
//       <% break %>
//     <% } %>
//   <% } %>
// <% } else { %>
//   <% for(var catMain in public[current.path[current.path.length - 1]]._data) { %>
//     <% var catIndex = public[current.path[current.path.length - 1]]._data[catMain] %>
//     <% if(next === true) { %>
//       <a href="/<%= current.path[current.path.length - 1] %>/<%= catMain %>" class="article-promo well">
//         <em>Next</em>
//         <h4 class="article-promoTitle"><%= catIndex.title %></h4>
//         <p><span class="a-faux">Read more…</span></p>
//       </a>
//       <% break %>
//     <% } %>
//     <% if((current.path).indexOf(catMain.toLowerCase()) !== -1) { %>
//       <% var next = true %>
//     <% } %>
//   <% } %>
//
// <% } %> -->

<% var subpages = public.documentation[current.path[1]] %>
<% if(typeof subpages === 'object') { %>
  <% var next = false %>
  <% for(var slug in subpages._data) { %>
    <% var item = subpages._data[slug] %>
    <% if(slug === current.source) { %>
      <% var next = true %>
    <% } else if(next === true) { %>
      <% next = false %>
      <a href="/documentation/<%= current.path[1] %>/<%= slug %>" class="article-promo well">
        <em>What’s next?</em>
        <h3><%= item.title %></h3>
      </a>
    <% } %>
  <% } %>
<% } %>
