<div class="media media--right">
  <div class="media-description">
    <h2>Which <code>WebView</code> are you choosing?</h2>
    <p>Stop choosing a fragmented development environment. Over 1.3 million Android device are activated everyday, each with an slightly different interpretation of the web.</p>
    <p>It’s impossible to imagine and painful to test how your native hybrid app will render or perform in every situation if you’ve chosen the default Android <code>WebView</code>.</p>
    <h4>Use Crosswalk and build great interfaces</h4>
    <p>Use new features confidently. Crosswalk supports otherwise unpredictable properties and APIs, whether they are in CSS or JavaScript.</p>
    <h4>Use Device APIs, with or without Cordova</h4>
    <p>Whether your using Cordova or not, the Crosswalk supports the Geolocation API, the File API, the vibraton API and more.</p>
    <h4>Use Flexbox today, even on old versions of Android</h4>
    <p>Reliably build responsive user interfaces with Flexbox. Your app will render it properly on any Android 4.0+ device when Crosswalk is included.</p>
    <h3>Which <code>WebView</code> are you using?</h3>
    <table class="table--ftcomp">
      <thead>
        <tr>
          <td>HTML5 feature</td>
          <td>Android <code>WebView</code></td>
          <td>Crosswalk WebView</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>WebRTC</td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
        <tr>
          <td>WebGL</td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
        <tr>
          <td>Vibration <abbr>API</abbr></td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
        <tr>
          <td>Presentation <abbr>API</abbr></td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
        <tr>
          <td><code>WebView</code> updates</td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="button">Get started</a>
  </div>
  <div class="media-image">
    <img src="/images/crosswalk-landing-promo-1.png" />
  </div>
</div>
