<div class="features" id="front-end">
  <div class="features-wrap">
    <div class="features-list"><!-- class="media-description" -->
      <header class="features-item">
      <h2>需要什么样的<code>WebView</code>？</h2>
      <!-- <p class="text-center features-intro">
        Build great interfaces with the Crosswalk Project
      </p> -->
      <!-- <div class="features-intro">
        <p>It’s impossible to imagine and painful to test how your native hybrid app will render or perform in every situation if you’ve chosen the default Android <code>WebView</code>.</p>
        <p>Stop choosing a fragmented development environment. Over 1.3 million Android device are activated everyday, each with an slightly different interpretation of the web.</p>
      </div>
    -->
    </header>
      <div class="features-item">
        <h4 class="features-heading">使用Crosswalk构建出色的界面</h4>
        <hr class="features-pointer" />
         <p>新功能有保障。Crosswalk项目为CSS和JavaScript中以往被认为不稳定的属性和API提供一致性的支持。</p>
      </div>
      <div class="features-item">
        <h4 class="features-heading">不依赖于Cordova的Device API支持</h4>
        <hr class="features-pointer" />
        <p>无论你是否使用Cordova，Crosswalk均支持Geolocation API, File API, Vibration API及更多Device APIs。</p>
      </div>
      <div class="features-item">
        <h4 class="features-heading">在旧版本Android设备上支持最新的Flexbox</h4>
        <hr class="features-pointer" />
        <p>使用Flexbox为你的应用构建可靠的响应式界面，并通过Crosswalk在运行Android 4.0以上版本的设备上正确渲染该应用。</p>
      </div>
      <table class="table--ftcomp">
        <thead>
          <tr>
            <td>HTML5特征</td>
            <td>不使用Crosswalk</td>
            <td>使用Crosswalk</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>WebRTC</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>WebGL</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Vibration <abbr>API</abbr></td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Presentation <abbr>API</abbr></td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td><code>WebView</code> updates</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
        </tbody>
      </table>
      <a href="/documentation/getting_started_zh" class="button">开始</a>
    </div>
    <div class="features-media"><!-- class="media-image" -->
      <img src="assets/illustrations/crosswalk-landing-promo-1.png" />
    </div>
  </div>
</div>
