<div class="media media--left">
  <div class="media-image media-image--breakout">
    <img src="/images/crosswalk-landing-promo-2.png" />
  </div>
  <div class="media-description">
    <h2>Which <code>WebView</code> are you choosing?</h2>
    <p>HTML5 is ready for games, but is your WebView? Crosswalk gives you the latest possible implementation of HTML5 features that make immersive games possible.</p>
    <h4>True support for the Audio <abbr>API</abbr></h4>
    <h4>Build boundry pushing <abbr>HTML5<abbr> games</h4>
    <p>Crosswalk supports exactly what you’d expect from a WebView based on Google Chromium and Blink. Make your in-app browsing experience as good as it can be.</p>
    <h3>Which <code>WebView</code> are you using?</h3>
    <table class="table--ftcomp">
      <thead>
        <tr>
          <td>HTML5 feature</td>
          <td>Android <code>WebView</code></td>
          <td>Crosswalk WebView</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>WebRTC</td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
        <tr>
          <td>WebGL</td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
        <tr>
          <td>Vibration <abbr>API</abbr></td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
        <tr>
          <td>Presentation <abbr>API</abbr></td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
        <tr>
          <td><code>WebView</code> updates</td>
          <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
          <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="button">Get started</a>
  </div>
</div>
