<div class="features">
  <div class="features-intro">
    <h2>Give your users the latest version of the web</h2>
    <p>With Crosswalk, your app will render the same across every Android 4.0 device, so you can simultaneously test on less devices and know your apps works in more places.</p>
  </div>
  <div class="features-wrap">
    <div class="features-list">
      <p>It’s impossible to imagine and painful to test how your native hybrid app will render or perform in every situation if you’ve chosen the default Android <code>WebView</code>.</p>
      <div class="features-item">
        <h4 class="features-heading">Provide a Google Chrome-like in-app browser</h4>
        <hr class="features-pointer" />
        <p>In-app browsers are used more than the default Android browser. Give your users the latest version of the web by with Crosswalk as your app’s embedded browser.</p>
      </div>
      <div class="features-item">
        <h4 class="features-heading">Icon fonts, <abbr>SVG</abbr>, Flexbox, and more</h4>
        <hr class="features-pointer" />
        <p>Crosswalk supports exactly what you’d expect from a WebView based on Google Chromium and Blink. Easily make your users’ browser and experience great.</p>
      </div>
      <div class="features-item">
        <h4 class="features-heading">New monitoring <abbr>API</abbr>s</h4>
        <hr class="features-pointer" />
        <p>The more browsers that support new performance monitoring <abbr>API</abbr>s, the more accurate your numbers will be. Crosswalk helps increase your sample size.</p>
      </div>
      <h3>Which <code>WebView</code> are you using?</h3>
      <table class="table--ftcomp">
        <thead>
          <tr>
            <td>HTML5 feature</td>
            <td>Android <code>WebView</code></td>
            <td>Crosswalk WebView</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Predictable layout</td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td><abbr>CSS</abbr> feature queries</td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Current Flexbox</td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td><abbr>WOFF</abbr> web fonts</td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Controlled <code>WebView</code> updates</td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
        </tbody>
      </table>
      <a href="#" class="button">Get started</a>
    </div>
    <div class="features-media">
      <img src="/images/crosswalk-landing-promo-3.png" />
    </div>
  </div>
</div>
