<div class="features" id="predictability">
  <div class="features-wrap">
    <div class="features-list">
      <header class="features-item">
        <h2>为你的用户提供最新的web技术</h2>
        <!-- <p>With the Crosswalk Project, your app will render the same across every Android 4.0 device, so you can simultaneously test on less devices and know your apps works in more places.</p> -->
      </header>
      <div class="features-item">
        <h4 class="features-heading">提供一个类似于Google Chrome的内嵌浏览器</h4>
        <hr class="features-pointer" />
        <p>内嵌浏览器的应用场景比Android默认浏览器更多。将Crosswalk作为应用的内嵌浏览器，为你的用户提供最新的web技术。</p>
      </div>
      <div class="features-item">
        <h4 class="features-heading">con字体，<abbr>SVG</abbr>，Flexbox，以及更多功能</h4>
        <hr class="features-pointer" />
        <p>如你所期望的一样，Crosswalk完全支持基于Google Chromium和Blink内核的WebView的强大功能，轻松提升用户的浏览及使用体验。</p>
      </div>
      <div class="features-item">
        <h4 class="features-heading">新的监控<abbr>API</abbr></h4>
        <hr class="features-pointer" />
        <p>当越来越多的浏览器都在使用性能监控<abbr>API</abbr>，你的应用的性能度量变得越来越精确。Crosswalk可以帮助你增加样本的数量。</p>
      </div>
      <h3>你在使用什么样的<code>WebView</code>？</h3>
      <table class="table--ftcomp">
        <thead>
          <tr>
            <td>HTML5功能</td>
            <td>不使用Crosswalk项目</td>
            <td>使用Crosswalk项目</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Predictable layout</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td><abbr>CSS</abbr> feature queries</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Current Flexbox</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td><abbr>WOFF</abbr> web fonts</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Controlled <code>WebView</code> updates</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
        </tbody>
      </table>
      <a href="/documentation/getting_started_zh.html" class="button">开始</a>
    </div>
    <div class="features-media">
      <img src="assets/illustrations/crosswalk-landing-promo-3.png" />
    </div>
  </div>
</div>
