<div class="features features--left">
  <div class="features-intro">
    <h2>Which <code>WebView</code> are you choosing?</h2>
    <p><abbr>HTML5</abbr> is ready for games, but is your WebView? Crosswalk gives you the latest possible implementation of <abbr>HTML5</abbr> features that make immersive games possible.</p>
  </div>
  <div class="features-wrap">
    <div class="features-media">
      <img src="/images/crosswalk-landing-promo-2.png" />
    </div>
    <div class="features-list">
      <p>It’s impossible to imagine and painful to test how your native hybrid app will render or perform in every situation if you’ve chosen the default Android <code>WebView</code>.</p>
      <div class="features-item">
        <h4 class="features-heading">True support for the Audio <abbr>API</abbr></h4>
        <hr class="features-pointer" />
      </div>
      <div class="features-item">
        <h4>Build boundry pushing <abbr>HTML5<abbr> games</h4>
        <hr class="features-pointer" />
        <p>Crosswalk supports exactly what you’d expect from a WebView based on Google Chromium and Blink. Make your in-app browsing experience as good as it can be.</p>
      </div>
      <h3>Which <code>WebView</code> are you using?</h3>
      <table class="table--ftcomp">
        <thead>
          <tr>
            <td>HTML5 feature</td>
            <td>Android <code>WebView</code></td>
            <td>Crosswalk WebView</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>WebRTC</td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>WebGL</td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Vibration <abbr>API</abbr></td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Presentation <abbr>API</abbr></td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td><code>WebView</code> updates</td>
            <td><%- partial("images/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("images/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
        </tbody>
      </table>
      <a href="#" class="button">Get started</a>
    </div>
  </div>
</div>
