<%		
   var content = public.content._data;
   var lang = (current.source.lastIndexOf("_zh") > 0 ? "zh": "en");
%>
<% if(current.path.length === 1 && (current.source === 'index' || current.source === 'index_zh')) { %>
<nav class="nav">
  <a href="<%= content["image"][lang].url %>" class="nav-logo logo">
    <img src="/assets/identity/crosswalkproject-logo-horizontal-light.png" class="logo-image">
  </a>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="<%= content["documentation"][lang].url %>" class="nav-link"><%= content["documentation"][lang].title %></a>
    </li>
    <li class="nav-item">
      <a href="<%= content["blog"][lang].url %>" class="nav-link"><%= content["blog"][lang].title %></a>
    </li>
    <li class="nav-item">
      <a href="<%= content["contribute"][lang].url %>" class="nav-link"><%= content["contribute"][lang].title %></a>
    </li>
    <li class="nav-item hide-on-small">
      <a href="<%= content["wiki"][lang].url %>" class="nav-link" id="wiki-nav"><%= content["wiki"][lang].title %></a>
    </li>
    <li class="nav-item hide-on-small">
      <a href="<%= content["faq"][lang].url %>" class="nav-link" id="faq-nav"><%= content["faq"][lang].title %></a>
    </li>
    <li class="nav-item">
      <span class="i18n-label" id="i18n-label">
	<span id="i18n-inner">
	<img src="/assets/i18n-globe.png" class="i18n-globe" />
	<%= content["languageButton"][lang].title %>
	<img src="/assets/i18n-arrow.png" class="i18n-arrow"/>
	</span>
      </span>
      <div id="i18n-menu" class="i18n-menu i18n-menu-dark">
        <a onclick="switchLanguage('English')">English</a>
        <a onclick="switchLanguage('Chinese')">中文版</a>
      </div>
    </li>
  </ul>
</nav>

  <% /* -------- nav area for documentation pages of English version---------- */
     } else { %>

  <div class="doc-logo-div">
     <a href="<%= content["image"][lang].url %>" class="doc-logo-link">
       <img src="/assets/identity/crosswalkproject-logo-horizontal-dark.png" class="doc-logo-img">
     </a>
  </div>
  <div class="doc-nav-div">
    <ul class="doc-nav-list">
      <li class="doc-nav-item">
        <a href="<%= content["documentation"][lang].url %>" class="doc-nav-link"><%= content["documentation"][lang].title %></a>
      </li>
      <li class="doc-nav-item">
        <a href="<%= content["blog"][lang].url %>" class="doc-nav-link"><%= content["blog"][lang].title %></a>
      </li>
      <li class="doc-nav-item hide-on-small">
        <a href="<%= content["contribute"][lang].url %>" class="doc-nav-link"><%= content["contribute"][lang].title %></a>
      </li>
      <li class="doc-nav-item hide-on-small">
        <a href="<%= content["wiki"][lang].url %>" class="doc-nav-link"><%= content["wiki"][lang].title %></a>
      </li>
      <li class="doc-nav-item hide-on-small">
        <a href="<%= content["faq"][lang].url %>" class="doc-nav-link"><%= content["faq"][lang].title %></a>
      </li>
      <li class="doc-nav-item">
	<span class="i18n-label" id="i18n-label">
	  <span id="i18n-inner">
	    <img src="/assets/i18n-globe.png" class="i18n-globe" />
	    <%= content["languageButton"][lang].title %>
	    <img src="/assets/i18n-arrow.png" class="i18n-arrow"/>
	  </span>
	  <div id="i18n-menu" class="i18n-menu i18n-menu-light">
            <a onclick="switchLanguage('English')">English</a>
            <a onclick="switchLanguage('Chinese')">中文版</a>
	  </div>
	</span>
      </li>
    </ul>
  </div>
  <% } %>
