<article class="article">
  <header class="article-header">
    <h1 class="article-title"><%- title %></h1>
    <span class="article-meta"><time datetime="<%- new Date(date).toUTCString() %>"><%- date %></time></span>
  </header>
  <% if(typeof hero !== 'undefined') { %>
    <img class="article-hero" src="<%= hero %>" alt="" />
  <% } %>
  <%- yield %>
  <% include ../_includes/blog-promo-1 %>
</article>
