<article class="article">
  <header class="article-header">
    <a href="<%= current.source %>"><span class="article-meta"><time datetime="<%- new Date(date).toUTCString() %>"><%- new Date(date).toUTCString() %></time></span></a>
    <h1 class="article-title"><%- title %></h1>
  </header>
  <% if(typeof hero !== 'undefined') { %>
    <img class="article-hero" src="<%= hero %>" alt="" />
  <% } %>
  <%- yield %>
  <% include ../_includes/blog-promo-1 %>
</article>
